<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragment/header.html :: mainHead"></head>
<body>
  <div id="root">
    <div class="mainImg">
      <div class="login">
        <img src="../static/img/login-logo.png" alt="">
        <div>
          <p>ID</p>
          <input type="text">
          <p>PW</p>
          <input type="text">
<!--          <button id="jqtest">test</button>-->
          <button onclick="goPage()">Log-in</button>
        </div>
      </div>
    </div>
  </div>
<script>
  function  goPage(){
    window.location ="/home";
  }

  $("#jqtest").click(function() {
    alert('click');
  });

</script>
</body>
</html>